<template>
  <v-container>
    <v-card>
      <v-card-title class="headline">อัพโหลด</v-card-title>
      <v-card-text>
        <v-file-input
          v-model="files"
          label="File input"
          outlined
          accept="image/png, image/jpeg"
          color="deep-purple accent-4"
          counter
          multiple
          prepend-icon="mdi-camera"
          ><template v-slot:selection="{ index, text }">
            <v-chip
              v-bind:style="{ color: '#2C3956' }"
              v-if="index < 2"
              color="#f3fbff"
              dark
              label
              small
            >
              {{ text }}
            </v-chip>

            <span
              v-else-if="index === 2"
              class="overline grey--text text--darken-3 mx-2"
            >
              +{{ files.length - 2 }} File(s)
            </span>
          </template></v-file-input
        >
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = false" color="red darken-1" text>Cancle</v-btn>
        <v-btn @click="dialog, submit()" text color="#2C3956">Submit</v-btn>
      </v-card-actions>
    </v-card>
    <div class="row">
      <div class="col-md-6">
        <h2>Current Camera</h2>
        <code v-if="device">{{ device.label }}</code>
        <div class="border">
          <vue-web-cam
            ref="webcam"
            :device-id="deviceId"
            width="100%"
          />
        </div>

        <div class="row">
          <div class="col-md-12">
            <select v-model="camera">
              <option>-- Select Device --</option>
              <option
                v-for="device in devices"
                :key="device.deviceId"
                :value="device.deviceId"
                >{{ device.label }}</option
              >
            </select>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" @click="onCapture">
              Capture Photo
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Captured Image</h2>
        <figure class="figure">
          <img :src="img" class="img-responsive" />
        </figure>
      </div>
    </div>
  </v-container>
</template>

<script>
import nvision from "@nipacloud/nvision";
import { WebCam } from 'vue-web-cam';

export default {
  components: {
    "vue-web-cam": WebCam
  },
  data() {
    return {
      dialog: false,
      files: [],
      img: null,
      camera: null,
      deviceId: null,
      devices: []
    };
  },
  computed: {
    device: function() {
      return this.devices.find(n => n.deviceId === this.deviceId);
    }
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      // Once we have a list select the first one
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    }
  },
  methods: {
    submit() {
      const formData = new FormData();
      for (const file of this.files) {
        formData.append("image", file);
      }
      // additional data
      formData.append("test", "foo bar");
      const objectDetectionService = nvision.objectDetection({
        apiKey:
          "cdb29f355cb4059995e05420dc8d963f657898bf3a5f2f5e7a88c58279f5e4a0a1c4c4cf874594b42e413fc45c425425ac"
      });
      objectDetectionService.predict({rawData: formData}).then(result => {
        // Outout the result object to console
        console.log(result);
      });
    },
    onCapture() {
      this.img = this.$refs.webcam.capture();
      const objectDetectionService = nvision.objectDetection({
        apiKey:
          "cdb29f355cb4059995e05420dc8d963f657898bf3a5f2f5e7a88c58279f5e4a0a1c4c4cf874594b42e413fc45c425425ac"
      });
      objectDetectionService.predict({rawData: this.img}).then(result => {
        // Outout the result object to console
        console.log(result);
      });
    }
  }
};
</script>
