<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div class="text-center">
        <UploadPicture />
      </div>
    </v-col>
  </v-row>
</template>

<script>
import UploadPicture from '~/components/UploadPicture.vue'

export default {
  components: {
    UploadPicture
  }
}
</script>
